.git/
.local/
.local/*
.cache/
.flaskenv
venv/
_notes.txt
_backup/
.*~
*.bak
*.bak*
__pycache__/
*/__pycache__/
*_test.html
L.O.S.E.R._2_LIAR.webm
L.O.S.E.R._2_LIAR.mp4
video
video/*
_html_working/video
_html_working/video/*
