.git/
*/.local/
.local/
.local/*
.cache/
.flaskenv
venv/
*/venv/
_notes.txt
_backup/
.*~
*.bak
*.bak*
__pycache__/
*/__pycache__/
*_test.html
L.O.S.E.R._2_LIAR.webm
L.O.S.E.R._2_LIAR.mp4
video/
_html_working/video/
secform/
pubweb_form_sub.py
_html_working.bak/
_html_working.bak2/
mailjet_api_key
*/mailjet_api_key
.mailjet_api_key
*/.mailject_api_key
