* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #2b2828;

}
body main {
    color: #fefefe;
    margin-left: 35px;
    margin-right: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
    /*font-family: 'BebasNeue-Regular.woff2', 'BebasNeueSrv', sans-serif;*/
    font-family: sans-serif;
}
main p {
    margin-top: 15px;
    margin-bottom: 15px;
    /*text-indent: 15px;*/
}
main h1, h2, h3, h4 {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}
main h1 {
    font-size: 32;
}
main h2 {
    font-size: 26;
}

body header, body footer {
    font-family: 'BebasNeue-Regular.woff2', 'BebasNeueSrv', sans-serif;
}

/* Top navigation */
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 3px;
    /*margin-left: 4px;
     *   margin-right: 12px;*/
}
.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.fl-right {
    float: right;
}
@media only screen and (max-width: 1200px) {
    #sidebar-menu {
        display: block;
    }
    #sidebar-menu-header {
        visibility: visible;
        display: inline;
    }
    #top-nav-logo {
        display: none;
        visibility: hidden;
    }
    #top-nav-hamburger-logo {
        display: inline;
        visibility: visible;
        height: 220px;
        top: 9px;
        left: 0;
        position: absolute;
        z-index: 0;
    }
    #ig-logo {
        position: absolute;
        top: 150px;
        right: 20px;
        z-index: 0;
    }
    .ig-logo-img {
        width: 52px;
        height: 52px;
    }
}
@media only screen and (min-width: 1200px) {
    #sidebar-menu {
        display: none;
    }
    #sidebar-menu-header {
        visibility: hidden;
    }
    #top-nav-logo {
        display: inline;
        visibility: visible;
    }
    #top-nav-hamburger-logo {
        display: none;
        visibility: hidden;
    }
    #ig-logo {
        float:right;
        position: absolute;
        top: 155px;
        /* v1 styling */
        right: 575px;
        /* v2 styling */
        /*right: 760px;*/
        z-index: 3;
    }
    .ig-logo-img {
        width: 48px;
        height: 48px;
    }
}
#hamburger-input{
    display: none;
}
#top-nav-upper {
    background-color: black;
    height: 240px;
    width:100%;
    z-index: -2;
}
#top-nav-logo {
    height: 220px;
    top: 10px;
    left: 0;
    position: absolute;
    z-index: 0;
}
/*
#top-nav-logo-dv {
    height: 200px;
    width: 800px;
    background-image: url('revolutionary-front-left-header-logo.webp');
    background-size: 800px, 200px, cover;
    top: 0;
    left: 0;
    display: inline;
    z-index: -3;
}*/
#top-nav-list {
    text-transform: uppercase;
    float: right;
    /*font-family: sans-serif;*/
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    z-index: 100;
    position: relative;
}
#top-nav-list ul {
    list-style-type: none;
    display: inline;
}
#top-nav-list ul li {
    display: inline;
    margin:0;
    padding: 0;
}

/* v1 styling */
#top-nav-list a {
    color: white;
    float: left;
    display:block;
    height:65%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:110px;
    width: 140px;
    text-align: center;
    z-index: 200;
    text-decoration: none;
}
/* v2 styling */
/*
#top-nav-list a {
    color: white;
    float: left;
    display:block;
    height:80%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:40px;
    width: 140px;
    text-align: center;
    z-index: 200;
    text-decoration: none;
}
*/
#top-nav-list a:hover, .top-nav-red-item a:hover {
    background-color: #ddd;
    color: black;
}
#top-nav-list a:active, .top-nav-red-item a:active {
    background-color: #616161;
    color: white;
    .arrow-down {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
}
#top-nav-red-box {
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
    height: 40px;
    background-color: #d94f4d;
}
/* v1 styling */
.top-nav-list-section {
    height: 200px;
    z-index: 200;
}
/* v2 styling */
/*
.top-nav-list-section {
    height: 200px;
    z-index: 200;
}
*/
.top-nav-red-item {
    background-color: #d94f4d;
}
.red-item-text {
    color: black;
}


/* Footer navigation */
#footer-links {
    /*width: 98%;
    margin-left: 1%;
    */
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    padding-bottom: 10px;
    font-family: 'BebasNeue-Regular.woff2', 'BebasNeueSrv', sans-serif;
}
#footer-links ul {
    list-style-type: none;
    margin-left: 40px;
    margin-top: 20px;
}
#footer-links a {
    color: white;
    text-decoration: none;
}
#footer-col-1 {
    float: left;
}
#footer-col-2 {
    float: left;
    margin-left: 50px;
}
#footer-col-3 {
    float: left;
    margin-left: 100px;
}
#footer-logo-circular {
    height: 160px;
    right: 50px;
    margin-top: 25px;
    position: absolute;
    display: inline;
}
#cc-license {
    font-size: 12px;
    margin-top: 180px;
    position: absolute;
    left: 40px;
}
.cc-footer-svg {
    max-width: 1em;
    max-height:1em;
    margin-left: .2em;
    margin-bottom: -1px;
}
.cc-footer-svg-full {
    max-width: 10em;
    margin-left: .2em;
}

/* Points of Unity page*/
.pou-links-number, .pou-header-number {
    color: #ca3141;
    margin-right: 20px;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    float: left;
    margin-left: 15px;
    margin-top: 0px;
}
.pou-links-number {
    margin-top: -6px;
}
.pou-links-text {
    display: inline-block;
    margin-top: 0px;
}
#pou-top-links {
    display: block;
}
#pou-top-links hr {
    margin-top: 50px;
    margin-bottom: 50px;
}
#pou-top-links ul {
    list-style-type: none;
}
#pou-top-links li {
    background-color: #fefefe;
    text-align: left;
    height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
    /*opacity: 0;
    animation: fadeIn 2s forwards;*/
}
#pou-top-links-1, #pou-top-links-3, #pou-header-1, #pou-header-3 {
     animation: slideInLeft 3s ease-out;
}
#pou-top-links-2, #pou-header-2 {
    animation: slideInRight 3s ease-out;
}
#pou-top-links li a {
    text-decoration: none;
    color: #2f2f2f;
}
#pou-main-content {
    margin-bottom: 50px;
}
#pou-main-content h2, #pou-main-content h3 {
    margin-top: 25px;
}
.pou-header {
    margin-top: 0px;
    margin-bottom: 15px;
}
.pou-header-red {
    color: #c33341;
}
#pou-top-links-1 {
    /*width: 275px;*/
    max-width: 300px;
}
#pou-top-links-2 {
    max-width: 460px;
    margin-left: 160px;
}
#pou-top-links-3 {
    max-width: 400px;
}


#pou-header-1, #pou-header-2, #pou-header-3 {
    background-color: #fefefe;
    text-align: left;
    height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: center;
    margin-bottom: 10px;
    padding-top: 4px;
    padding-bottom: 10px;
    color: #2f2f2f;
    font-size: 20px;
}
.pou-header-text {
    display: block;
    margin-top: 5px;
}
#pou-header-1 {
    max-width: 360px;
    margin-top: 30px;
}
#pou-header-2 {
    max-width: 540px;
    margin-top: 60px;
}
#pou-header-3 {
    max-width: 490px;
    margin-top: 60px;
}
#pou-main-content p {
    margin-left: 35px;
}

@media only screen and (max-width: 1200px) {
    body main {
        margin-left: 5px;
    }
    body main h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
    /* Temporary, remove before deploying. */
    #index_vid {
        max-width: 96%;
        max-height: 96%
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #vid-anchor-dv {
        margin-top: 0px;
        margin-bottom: 0px;
        display: inline;
    }
    /* Temporary, remove before deploying. */

    .pou-header {
        margin-top: 0;
        margin-bottom: 5;
    }
    #pou-main-content p {
        margin-left: 5px;
    }
    #pou-main-content h2 {
        font-size: 16px;
    }
    #pou-top-links li {
        background-color: #fefefe;
        text-align: left;
        height: 40px;
        text-transform: uppercase;
        font-weight: bold;
        vertical-align: center;
        margin-bottom: 10px;
        padding-top: 10px;
        font-size: 11px;
    }
    .pou-links-number, .pou-header-number {
        color: #ca3141;
        margin-right: 10px;
        display: block;
        font-size: 20px;
        font-weight: bold;
        float: left;
        margin-left: 10px;
    }
    .pou-header-text {
        font-size: 14px;
    }
    .pou-links-number {
        margin-top: 3px;
    }
    .pou-header-number {
        font-size: 24px;
    }
    #pou-top-links-1 {
        max-width: 185px;
    }
    #pou-top-links-2 {
        max-width: 300px;
        margin-left: 30px;
    }
    #pou-top-links-3 {
        max-width: 280px;
    }
    #pou-header-1, #pou-header-2, #pou-header-3 {
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 14px;
    }
    #pou-header-1 {
        max-width: 250px;
    }
    #pou-header-2 {
        max-width: 390px;
    }
    #pou-header-3 {
        max-width: 430px;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 820px) {
    #footer-logo-circular {
        display: none;
    }
}


/* Home */
#home-main {
    margin: 0;
    padding: 0;
}
#home-bg {

    /*margin-bottom: -12px;*/
    height: 500px;
    width: 100%;
    background-image: url('../images/imperialism.webp');
    background-color: rgba(0,0,0,.5);
    background-blend-mode: multiply;
}
#home-text {
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: -2px -2px 4px black;
    padding-top: 60px;
    font-family: 'BebasNeue-Bold.otf', 'BebasNeueSrv', sans-serif;
}
#home-text h1 {
    font-size: 60px;
    margin-bottom: 20px;
}
#home-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
#home-text p {
    font-size: 26px;
}
#home-red-bar {
    display: block;
    height: 18px;
    background-color: #d83c3d;
}
#home-sub-nav {
    padding-top: 15px;
    background-color: #cbced5;
    height: 300px;
    font-family: 'BebasNeue-Bold.otf', 'BebasNeueSrv', sans-serif;
}
#home-sub-nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 60px;
}
#home-sub-nav li {
    background-color: black;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 480px;
    vertical-align: center;
    display: inline-block;
}
#home-sub-nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
}
.home-sub-nav-center-item {
    margin-left: 50px;
    margin-right: 50px;
}
#home-sub-nav li:hover, #home-sub-nav a:hover {
    background-color: #ddd;
    color: black;
}
#home-sub-nav li:active, #home-sub-nav a:active {
    color: #d84f4d;
    background-color: black;
}
@font-face {
    font-family: 'BebasNeueSrv';
    src: url('../fonts/BebasNeue-Regular.woff2') format("woff2"),
         url('../fonts/BebasNeue-Regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeueSrv';
    src: url('../fonts/BebasNeue-Bold.otf') format('opentype'),
         url('../fonts/BebasNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@media only screen and (max-width: 1600px) {
    #home-bg {
        height: 65%;
        margin: 0;
        padding: 0;
    }
    #home-sub-nav {
        margin: 0;
        padding: 0;
        height: 660px;
        margin-top: -15px;
    }
    #home-sub-nav ul {
        margin: 0;
        padding: 0;
        padding-top: 45px;
    }
    .home-sub-nav-center-item {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #home-text p {
        padding-bottom: 30px;
    }
    #home-text {
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media only screen and (max-width: 1960px) {
    #home-text {
        /*margin-left: 10%;
        margin-right: 10%;*/
    }
    #home-bg {
        padding-bottom: 20px;
    }
}


/* Contact Us */
#contact-us {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 10%;
}
#contact-us h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}
#redirmsgtxt {
    font-weight: bold;
}
.contact-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #d94f4d;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}
.contact-input:hover {
    border: 2px solid #ff8583;
}
.contact-input:focus {
    border: 2px solid #b0201e;
}
.contact-label {
    display: none;
}
#contact-us textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
    margin-top: 40px;
}
#contactForm {
    max-width:420px;
}
#contact-us [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #d94f4d;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}
#contact-us [type="submit"]:hover {
    background: #b0201e;
}