#marquee {
    height: 30px;
    overflow: hidden;
    position: relative;
    background: #d73d3d;
    color: #0a0208;
    /*visibility: hidden;*/
    display: none;
}
#marquee-testing {
    height: 30px;
    overflow: hidden;
    position: relative;
    background: #d73d3d;
    color: #0a0208;
    visibility: visible;
    display: block;
}

#marquee p, #marquee-testing p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 30px;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 30s linear infinite;
    font-weight: bold;
}
#marquee a, #marquee-testing a {
    color: #0a0208;
    text-decoration: none;
    display: block;
}
#marquee-text-left {
    text-align: left;
    margin-left: 0;
}
#marquee-text-center {
    text-align: center;
    margin-left: 0;
}
#marquee-text-right {
    text-align: right;
    margin-left: 0;
}
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 1520px) {
    #marquee-text-center {
        padding-left: 20px;
    }
    #marquee-text-right {
        padding-left: 85px;
    }
}
@media only screen and (max-width: 1200px) {
    #marquee-text-center {
        display: none;
    }
    #marquee-text-right {
        padding-left: 45px;
    }
}

@media only screen and (max-width: 820px) {
    #marquee-text-right {
        padding-left: 75px;
    }
}

@media only screen and (max-width: 640px) {
    #marquee-text-right {
        display: none;
    }
}