* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #2b2828;

}
body main {
    color: #fefefe;
    margin-left: 15px;
    margin-right: 15px;
}
main p {
    margin-top: 15px;
    margin-bottom: 15px;
    /*text-indent: 15px;*/
}
main h1, h2, h3, h4 {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}
main h1 {
    font-size: 32;
}
main h2 {
    font-size: 26;
}

@media only screen and (max-width: 1200px) {
    #top-nav-logo {
        display: none;
        visibility: hidden;
    }
    #top-nav-hamburger-logo {
        display: inline;
        visibility: visible;
        height: 220px;
        top: 9px;
        left: 0;
        position: absolute;
        z-index: 0;
    }
    #ig-logo {
        position: absolute;
        top: 150px;
        right: 20px;
        z-index: 0;
    }
    .ig-logo-img {
        width: 52px;
        height: 52px;
    }
}
@media only screen and (min-width: 1200px) {
    #top-nav-hamburger-logo {
        display: none;
        visibility: hidden;
    }
    #ig-logo {
        float:right;
        position: absolute;
        top: 155px;
        right: 760px;
        z-index: 3;
    }
    .ig-logo-img {
        width: 48px;
        height: 48px;
    }
}
#hamburger-input{
    display: none;
}
#top-nav-upper {
    background-color: black;
    height: 240px;
    width:100%;
    z-index: -2;
}
#top-nav-logo {
    height: 220px;
    top: 9px;
    left: 0;
    position: absolute;
    z-index: 0;
}
/*
#top-nav-logo-dv {
    height: 200px;
    width: 800px;
    background-image: url('revolutionary-front-left-header-logo.webp');
    background-size: 800px, 200px, cover;
    top: 0;
    left: 0;
    display: inline;
    z-index: -3;
}*/
#top-nav-list {
    text-transform: uppercase;
    float: right;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    z-index: 100;
    position: relative;
}
#top-nav-list ul {
    list-style-type: none;
    display: inline;
}
#top-nav-list ul li {
    display: inline;
}
#top-nav-list a {
    color: white;
    float: left;
    display:block;
    height:80%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:40px;
    width: 140px;
    text-align: center;
    z-index: 200;
    text-decoration: none;
}
#top-nav-list a:hover, .top-nav-red-item a:hover {
    background-color: #ddd;
    color: black;
}
#top-nav-list a:active, .top-nav-red-item a:active {
    background-color: #616161;
    color: white;
    .arrow-down {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
}
#top-nav-red-box {
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
    height: 40px;
    background-color: #d94f4d;
}
.top-nav-list-section {
    height: 100px;
    z-index: 200;
}
.top-nav-red-item {
    background-color: #d94f4d;
}
.red-item-text {
    color: black;
}

.pou-links-number {
    color: #ca3141;
    margin-right: 20px;
    display: block;
    font-size: 40px;
    font-weight: bold;
    float: left;
    margin-left: 15px;
}
.pou-links-text {
    display: block;
    padding-top: 10px;
}
#pou-top-links {
    display: block;
}
#pou-top-links ul {
    list-style-type: none;
}
#pou-top-links li {
    background-color: #fefefe;
    text-align: left;
    height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: center;
    margin-bottom: 10px;
    /*opacity: 0;
    animation: fadeIn 2s forwards;*/
}
#pou-top-links-1, #pou-top-links-3 {
     animation: slideInLeft 3s ease-out;
}
#pou-top-links-2 {
    animation: slideInRight 3s ease-out;
}
#pou-top-links li a {
    text-decoration: none;
    color: #2f2f2f;
}
#pou-main-content {

}
.pou-header {
    margin-top: 15px;
    margin-bottom: 15px;
}
.pou-red-header {
    color: #c33341;
}
#pou-top-links-1 {
    width: 275px;
}
#pou-top-links-2 {
    width: 425px;
    margin-left: 160px;
}
#pou-top-links-3 {
    width: 465px;
}



@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 3px;
    /*margin-left: 4px;
    margin-right: 12px;*/
}
.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.fl-right {
    float: right;
}