* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #2b2828;

}
body main {
    color: #fefefe;
    margin-left: 35px;
    margin-right: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
}
main p {
    margin-top: 15px;
    margin-bottom: 15px;
    /*text-indent: 15px;*/
}
main h1, h2, h3, h4 {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}
main h1 {
    font-size: 32;
}
main h2 {
    font-size: 26;
}

/* Top navigation */
@media only screen and (max-width: 1200px) {
    #top-nav-logo {
        display: none;
        visibility: hidden;
    }
    #top-nav-hamburger-logo {
        display: inline;
        visibility: visible;
        height: 220px;
        top: 9px;
        left: 0;
        position: absolute;
        z-index: 0;
    }
    #ig-logo {
        position: absolute;
        top: 150px;
        right: 20px;
        z-index: 0;
    }
    .ig-logo-img {
        width: 52px;
        height: 52px;
    }
}
@media only screen and (min-width: 1200px) {
    #top-nav-hamburger-logo {
        display: none;
        visibility: hidden;
    }
    #ig-logo {
        float:right;
        position: absolute;
        top: 155px;
        right: 760px;
        z-index: 3;
    }
    .ig-logo-img {
        width: 48px;
        height: 48px;
    }
}
#hamburger-input{
    display: none;
}
#top-nav-upper {
    background-color: black;
    height: 240px;
    width:100%;
    z-index: -2;
}
#top-nav-logo {
    height: 220px;
    top: 9px;
    left: 0;
    position: absolute;
    z-index: 0;
}
/*
#top-nav-logo-dv {
    height: 200px;
    width: 800px;
    background-image: url('revolutionary-front-left-header-logo.webp');
    background-size: 800px, 200px, cover;
    top: 0;
    left: 0;
    display: inline;
    z-index: -3;
}*/
#top-nav-list {
    text-transform: uppercase;
    float: right;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    z-index: 100;
    position: relative;
}
#top-nav-list ul {
    list-style-type: none;
    display: inline;
}
#top-nav-list ul li {
    display: inline;
}
#top-nav-list a {
    color: white;
    float: left;
    display:block;
    height:80%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:40px;
    width: 140px;
    text-align: center;
    z-index: 200;
    text-decoration: none;
}
#top-nav-list a:hover, .top-nav-red-item a:hover {
    background-color: #ddd;
    color: black;
}
#top-nav-list a:active, .top-nav-red-item a:active {
    background-color: #616161;
    color: white;
    .arrow-down {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
}
#top-nav-red-box {
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
    height: 40px;
    background-color: #d94f4d;
}
.top-nav-list-section {
    height: 100px;
    z-index: 200;
}
.top-nav-red-item {
    background-color: #d94f4d;
}
.red-item-text {
    color: black;
}


/* Footer navigation */
#footer-links {
    /*width: 98%;
    margin-left: 1%;
    */
    width: 100%;
    height: 200px;
    background-color: black;
    color: white
}
#footer-links ul {
    list-style-type: none;
    margin-left: 40px;
    margin-top: 20px;
}
#footer-links a {
    color: white;
    text-decoration: none;
}
#footer-col-1 {
    float: left;
}
#footer-col-2 {
    float: left;
    margin-left: 50px;
}
#footer-col-3 {
    float: left;
    margin-left: 100px;
}
#footer-logo-circular {
    height: 160px;
    right: 40px;
    margin-top: 20px;
    position: absolute;
}
#cc-license {
    font-size: 12px;
    margin-top: 160px;
    position: absolute;
    left: 40px;
}
.cc-footer-svg {
    max-width: 1em;
    max-height:1em;
    margin-left: .2em;
}

/* Points of Unity page*/
.pou-links-number, .pou-header-number {
    color: #ca3141;
    margin-right: 20px;
    display: block;
    font-size: 40px;
    font-weight: bold;
    float: left;
    margin-left: 15px;
}
.pou-links-text {
    display: block;
    margin-top: 5px;
}
#pou-top-links {
    display: block;
    margin-bottom: 50px;
}
#pou-top-links ul {
    list-style-type: none;
}
#pou-top-links li {
    background-color: #fefefe;
    text-align: left;
    height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
    /*opacity: 0;
    animation: fadeIn 2s forwards;*/
}
#pou-top-links-1, #pou-top-links-3, #pou-header-1, #pou-header-3 {
     animation: slideInLeft 3s ease-out;
}
#pou-top-links-2, #pou-header-2 {
    animation: slideInRight 3s ease-out;
}
#pou-top-links li a {
    text-decoration: none;
    color: #2f2f2f;
}
#pou-main-content {
    margin-bottom: 50px;
}
#pou-main-content h2, #pou-main-content h3 {
    margin-top: 50px;
}
.pou-header {
    margin-top: 15px;
    margin-bottom: 15px;
}
.pou-header-red {
    color: #c33341;
}
#pou-top-links-1 {
    /*width: 275px;*/
    max-width: 300px;
}
#pou-top-links-2 {
    max-width: 460px;
    margin-left: 160px;
}
#pou-top-links-3 {
    max-width: 510px;
}
#pou-content-1 {
    margin-top: 25px;
}
#pou-content-2, #pou-content-3 {
    margin-top: 50px;
}

#pou-header-1, #pou-header-2, #pou-header-3 {
    background-color: #fefefe;
    text-align: left;
    height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
    color: #2f2f2f;
}
.pou-header-text {
    display: block;
    margin-top: 5px;
}
#pou-header-1 {
    max-width: 320px;
}
#pou-header-2 {
    max-width: 540px;
}
#pou-header-3 {
    max-width: 610px;
}
#pou-main-content p {
    margin-left: 35px;
}

@media only screen and (max-width: 1200px) {
    body main {
        margin-left: 5px;
    }
    body main h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .pou-header {
        margin-top: 0;
        margin-bottom: 5;
    }
    #pou-main-content p {
        margin-left: 5px;
    }
    #pou-main-content h2 {
        font-size: 16px;
    }
    #pou-top-links li {
        background-color: #fefefe;
        text-align: left;
        height: 40px;
        text-transform: uppercase;
        font-weight: bold;
        vertical-align: center;
        margin-bottom: 10px;
        padding-top: 0;
        font-size: 11px;
    }
    .pou-links-number, .pou-header-number {
        color: #ca3141;
        margin-right: 10px;
        display: block;
        font-size: 20px;
        font-weight: bold;
        float: left;
        margin-left: 10px;
    }
    .pou-links-number {
        margin-top: 3px;
    }
    #pou-top-links-1 {
        max-width: 180px;
    }
    #pou-top-links-2 {
        max-width: 280px;
        margin-left: 30px;
    }
    #pou-top-links-3 {
        max-width: 320px;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 3px;
    /*margin-left: 4px;
    margin-right: 12px;*/
}
.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.fl-right {
    float: right;
}