@import "tailwindcss";

:root {
  --background: var(--color-slate-100);
  --body-light: var(--color-slate-100);
  --highlight: var(--color-slate-300);
  --revolutionary-red: #d94f4d;
}

@theme inline {
  --color-background: var(--background);
  --color-highlight: var(--highlight);
  --color-revolutionary-red: var(--revolutionary-red);
  --color-body-light: var(--body-light);
  --font-title: var(--font-title);
  --font-body: var(--font-body);
}
